// colors
$primary-color: #ffffff;
$secondary-color: #ffffff;
$surface-color: #ffffff;
$background-color: #ffffff;
$error-color: red;

// text colors
$on-primary-color: #ffffff;
$on-secondary-color: #ffffff;
$on-surface-color: #ffffff;
$on-background-color: #ffffff;
$on-error-color: red;
